p {
	/*fallback*/
	color: blue;
	color: #1005FF;
	color: rgb(16, 5, 255);
	color: rgba(16, 5, 255, 90);

	font-size: 14px;
	font-size: 1em;
	font-size: 2.7cm;
	
}

nav {

	text-align: center;
}

nav ul {

list-style-type: none;
}

nav li {
display: inline;
margin-right: 40px;


}

#fallbacktest { 
	background: #334C23 url(plants.jpg);
    color: lightgray;
    border: 1px;
    margin: 10px;
}