p {
	/*fallback*/
	font-family:"Lucida Console", "Courier New", monospace;
	color: "pink", "blue", "green";
}

nav {

	text-align: center;
}

nav ul {

list-style-type: none;
}

nav li {
display: inline;
margin-right: 40px;

}