/*
div {

	border: 1px;
	margin: 5px;
}

#third > p {
	visibility:  hidden;
}

h1 {
	display: none;
}

#second {
	visibility: hidden;
}
*/

/*
#wrapper {
	visibility: hidden;
}

img {
	visibility: visible;
}
*/

#fisrt p {
	font-size: 20px;
}
.